<%= form_with model: employee  do |form| %>
  <div class="row">

	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :first_name, class: "mb-2"%>
	   	  	<%= form.text_field :first_name, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:first_name).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	  
	   	  </div>
	   	</div>
        	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :Profile , class: "mb-2"%>
	   	  	<%= form.file_field :profile_pick, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:first_name).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	  
	   	  </div>
	   	</div>

	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :last_name, class: "mb-2"%>
	   	  	<%= form.text_field :last_name, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:last_name).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	  
	   	  </div>
	   	</div>
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :Job_title, class: "mb-2"%>
	   	  	<%= form.select :job_title, options_for_select(Employee::JOB_TITLE, selected: employee.job_title ),{prompt:'select Job type'},{class: 'form-select form-select-lg'} %>
	   	  	<% @employee.errors.full_messages_for(:job_title).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	  
	   	  </div>
	   	</div>
    </div>
    <div class="row">
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :email, class: "mb-2"%>
	   	  	<%= form.email_field :personal_email, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:personal_email).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	 
	   	  </div>
	   	</div>
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :date_of_birth, class: "mb-2"%>
	   	  	<%= form.date_field :date_of_birth, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:date_of_birth).each do |message| %>
           <p class="text-danger"><%= message %></p>
        <% end %>  	 
	   	  </div>
	   	</div>
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :Mobile, class: "mb-2"%>
	   	  	<%= form.text_field :mobile_number, class: "form-control form-control-lg" %>
	   	  	<% @employee.errors.full_messages_for(:mobile_number).each do |message| %>
        <p class="text-danger"><%= message %></p>
        <% end %>  	 
	   	  </div>
	   	</div>
	</div>
	<div class="row">
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :address_line_1, class: "mb-2"%>
	   	  	<%= form.text_field :address_line_1, class: "form-control form-control-lg" %>
	   	  </div>
	   	</div>
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :city, class: "mb-2"%>
	   	  	<%= form.text_field :city, class: "form-control form-control-lg" %>
	   	  </div>
	   	</div>
	</div>
	<div class="row"> 
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :state, class: "mb-2"%>
	   	  	<%= form.text_field :state, class: "form-control form-control-lg" %>
	   	  </div>
	   	</div>
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :country, class: "mb-2"%>
	   	  	<%= form.country_select :country,{prompt:'select Country'},{class: 'form-select form-select-lg'} %>
	   	  </div>
	   	</div>
	</div>
	<div class="row"> 
	   	<div class="col-lg-4">
	   	  <div class="form-group">
	   	  	<%= form.label :pincode, class: "mb-2"%>
	   	  	<%= form.text_field :pincode, class: "form-control form-control-lg mb-4" %>
	   	  </div>
	   	</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<%= form.submit class: "btn btn-primary btn-lg"%>
			<%= link_to "back to employee", employees_path, class: "btn btn-outline-primary btn-lg"%>
		</div>
	</div>
<% end %>